<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/shared.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>GPS Tracker</title>
  </head>
  <body>
    <header id="header-main">
      <h1><a href="/">Trackman</a></h1>
      <nav id="nav-bar">
        <ul>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/">Sign In</a></li>
        </ul>
      </nav>
    </header>
    <section id="hero-content">
      <div id="hero-container">
        <header id="hero-header"><h2>Welcome to Trackman!</h2></header>
        <form action="/signup" method="GET" id="sign-in-form">
          <p id="error-message">Invalid password, please try again!</p>
          <div class="btn-container">
            <button id="retry-button">Try again</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
