<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/shared.css" rel="stylesheet" />
    <link href="/styles/map.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <title>GPS Tracker</title>
  </head>
  <body>
    <header id="header-main">
      <h1><a href="/">Trackman</a></h1>
      <nav id="nav-bar">
        <ul>
          <%= "Welcome " + user[0].first_name + " " + user[0].last_name + "!" %>
        </ul>
      </nav>
    </header>
    <div id="map-container">
      <div id="map"></div>
      <div id="vehicle-container">
        <div class="vehicle-card">
          <h3 class="vehicle-index">LL19DVG</h3>
          <p class="color">White</p>
          <p class="make-model">Dacia Sandero</p>
        </div>
        <div class="vehicle-card">
          <h3 class="vehicle-index">NX58RLU</h3>
          <p class="color">Silver</p>
          <p class="make-model">Vauxhall Corsa</p>
        </div>
        <div class="vehicle-card">
          <h3 class="vehicle-index">CX72OME</h3>
          <p class="color">Black</p>
          <p class="make-model">Volvo XC90</p>
        </div>
        <div class="vehicle-card">
          <h3 class="vehicle-index">LC70CVD</h3>
          <p class="color">Blue</p>
          <p class="make-model">BMW X5</p>
        </div>
        <div class="vehicle-card">
          <h3 class="vehicle-index">DT68UMH</h3>
          <p class="color">Black</p>
          <p class="make-model">Suzuki Vital</p>
        </div>
        <div class="vehicle-card">
          <h3 class="vehicle-index">DT68UMH</h3>
          <p class="color">Black</p>
          <p class="make-model">Suzuki Vital</p>
        </div>
      </div>
    </div>

    <script src="/map.js" defer></script>
  </body>
</html>
