<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/shared.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>GPS Tracker</title>
    <script
      src="https://kit.fontawesome.com/bdddb9b7ac.js"
      crossorigin="anonymous"
    ></script>
    <script src="/signup.js" defer></script>
  </head>
  <body>
    <header id="header-main">
      <h1><a href="/">Trackman</a></h1>
      <nav id="nav-bar">
        <ul>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/">Sign In</a></li>
        </ul>
      </nav>
    </header>
    <section id="hero-content">
      <div id="hero-container">
        <header id="hero-header"><h2>Welcome to Trackman!</h2></header>
        <form action="/signup" method="POST" id="sign-in-form">
          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" name="firstname" />
          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" name="lastname" />

          <label for="username">Email:</label>
          <input type="email" id="username" name="username" />
          <label for="confirm-username">Confirm Email:</label>
          <input type="email" id="confirm-username" name="confirm-username" />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
          <p>
            <i
              id="minChar"
              class="fa-regular fa-circle-xmark"
              style="color: #b3cde0"
            ></i>
            Minimum 8 characters
          </p>
          <p>
            <i
              id="minNum"
              class="fa-regular fa-circle-xmark"
              style="color: #b3cde0"
            ></i>
            At least 1 number
          </p>
          <p>
            <i
              id="minCap"
              class="fa-regular fa-circle-xmark"
              style="color: #b3cde0"
            ></i>
            At least 1 capital letter
          </p>
          <label for="confirm-password">Confirm Password:</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
          />
          <p>
            <i
              id="password-match"
              class="fa-regular fa-circle-xmark"
              style="color: #b3cde0"
            ></i>
            Password must match
          </p>
          <button id="sign-in-button">Sign Up</button>
        </form>
      </div>
    </section>
  </body>
</html>
