<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/shared.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bdddb9b7ac.js"
      crossorigin="anonymous"
    ></script>
    <title>GPS Tracker</title>
    <script src="/sidedrawer.js" defer></script>
  </head>
  <body>
    <header id="header-main">
      <h1 class="nav-element"><a href="/">Trackman</a></h1>
      <div id="burger-icon">
        <i class="fa-solid fa-bars nav-element" style="color: #b3cde0"></i>
      </div>
      <nav id="nav-bar">
        <ul class="nav-element">
          <li><a href="/add">Add</a></li>
          <li><a href="/map">Map</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
    <aside id="side-drawer">
      <ul id="side-drawer-nav">
        <li><a href="/add">Add</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="/logout">Sign Out</a></li>
      </ul>
    </aside>
    <section id="hero-content">
      <div id="hero-container">
        <header id="hero-header"><h2>Update Vehicle</h2></header>
        <form action="/updatecar" method="POST" id="sign-in-form">
          <label for="dropdown">Vehicle:</label>
          <select id="dropdown" name="dropdown">
            <% for (vehicle of vehicle) { %>
            <option value="<%= vehicle.vrm %>"><%= vehicle.vrm %></option>
            <% } %>
          </select>
          <label for="longitude">Longitude:</label>
          <input type="number" id="longitude" name="longitude" step="0.00001" />
          <label for="latitude">Latitude:</label>
          <input type="number" id="latitude" name="latitude" step="0.00001" />
          <label for="los">LOS</label>
          <select id="los" name="los">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <p id="error-message"></p>
          <div class="btn-container">
            <button id="sign-in-button">Update</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
